{% extends 'index.html' %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="card col-md-6">
            <div class="card-body">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post" style="align-items: center; width: 100; display: flex; flex-direction: column; align-items: center;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block mt-3">Log in</button>
                </form>
                <div class="text-center mt-3">
                    <small>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
